* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kodchasan", sans-serif;
}

.boxtext {
    background-color: pink;
    width: 400px;
    height: 550px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;
    text-decoration: none;
}

.text-intobox {
    color: rgb(0, 0, 0);
    height: 100px;
    border-radius: 10px 70px;
    align-content: center;
    width: 250px;
    background-color: rgb(253, 156, 205);
    margin-left: 60px;
}

.text-intobox li a {
    text-decoration: none;
    color: #fa05a8;
    font-size: 19px;
}

